<nav>
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li>@Html.ActionLink("Início", "Index", "Home")</li>
            <li>@Html.ActionLink("Produtos", "Index", "Produto")</li>
            <li>@Html.ActionLink("Clientes", "Index", "Cliente")</li>
        </ul>
    </div>
</nav>